.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;

    .video {
        margin-bottom: 30px;
        border: 1px solid var(--white300);
        padding: 5px;
        border-radius: 5px;

        .video__thumb {

            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center;
            }
        }
        
        .video__info {

            .title {
                margin-top: 10px;
                margin-bottom: 5px;
                @include line(2);
                color: var(--black);
            }
            .desc {
                @include line(3);
                width: 100%;
                color: var(--white500);
                margin-bottom: 10px;
            }
            .info {
                display: flex;
                justify-content: space-between;
                
                .author {
                    @include line-one;
                    color: var(--black200);
                }
                .date {
                    white-space: nowrap;
                    color: var(--white500);

                }
            }
        }
    }
}
// 비디오 상세 페이지
.video__view {

    .video__play {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }
    .video__info {

        .video__title {
            padding-top: 20px;
            margin-bottom: 20px;
            font-size: 22px;
            border-bottom: 1px solid var(--black500);
            padding-bottom: 15px;
            color: var(--black100);

        }
        .video__channel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            margin-top: 40px;

            .id {
                a {
                    border: 1px solid var(--black100);
                    color: var(--black100);
                    padding: 7px 15px;
                    border-radius: 20px;
                }

            }
            .count {

                span {
                    border: 1px solid var(--black200);
                    padding: 7px 15px;
                    border-radius: 20px;
                    margin-left: 10px;
                    background-color: var(--black200);
                    color: var(--white200);
                }
                svg {
                    color: var(--white200);
                    width: 20px;
                    height: 20px;
                    vertical-align: -5px;
                    margin-right: 5px;
                }
            }
            .info {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                
                .author {
                    @include line-one;
                    font-size: 14px;
                    text-decoration: underline;
                    text-underline-position: under;
                    
                    &:hover {
                        color: var(--white200);
                    }
                }
            }
        }
    }
    .video__desc {
        border-top: 1px solid var(--black500);
        white-space: pre-line;
        padding-top: 40px;
    }
}